<!DOCTYPE html>
<html>
<head>
	<title>IPL</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div id="styleDiv">
<form method="POST" action="/matchDetails">
	<input type="text" name="team1">
	<input type="text" name="team2">
	<input type="url" name="logo1">
	<input type="url" name="logo2">
	<input type="date" name="date">
	<input type="text" name="location">
	Submit<input type="Submit" name="Submit">

</form>
</div>
</body>
</html>